
*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: purple;
    color: white;
    padding: 15px;
    text-align: center;
}

.card{
    background-color: chocolate;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 6px 2px gray;
    width: 370px;
    display: inline-block;
    border-radius: 10%;
}
.cardTitle{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}
.cardDec{
    text-align:justify;
    margin: 5px;
}

.cardDate{
    font-weight: bold;

}

.Card2{
    background-color: darkcyan;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 6px 2px gray;
    width: 370px;
    display: inline-block;
    border-radius: 10%;
   
}

.StateBox{
  
    background-color: dimgrey;
    box-shadow: 5px 6px 2px gray;
    border-radius: 5%;
    /* background-position-x: center; */

}
.Value{
    color: #ffffff;
    text-align: center;
    margin-top: 10;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    color: white;
    font-size: 2rem;
    width: 89px;
    margin-left: 5px;
}

input{
    margin: 10px;
    height: 30px;
    width: 370px;   
    border: 3px solid royalblue;
    box-shadow: 2px 4px 7px gray;
    
}

div{
    margin-top: 10px;
}